.example {
position: relative;
}

.example p {
position: absolute;
color:white;
font-size:5em;
font-weight:bold;
font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
top: 50%;
left: 50%;
text-align:center;
-ms-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
border: solid white 3px; /*線で囲う*/
padding:150px 100px 150px 100px;
margin:0; /*文字の装飾は省略*/
}

.example img {
  max-width: 100%;
　height: auto;
　opacity: 0.7; /* 55％不透明度(＝45％透過) */
}




h1 {
	float:left;
	padding:0 0 0 0;
  margin:10px 0px 5px -80px;
}
