.wrapper{
  min-height: 30vh;
  position: relative;/*←相対位置*/
  float:none;
}
 footer{
   height:100px;
   width:100%;
   margin: 0px;
   text-align: center;
   background-color: #555555;
   line-height:3;
   position: absolute;/*←絶対位置*/
   bottom: 0;
   font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
 }
 .wrapper li{
   padding: 0px 120px;
   display: inline-block;
   color: #f3f3f3;
   font-weight: bold;
   font-size: 25px;
 }
 .wrapper ul{
   padding:0px 100px;
   margin-top:0 ;
   margin-bottom: 0 ;
   text-decoration: none;
 }
